{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <title>Document</title>
</head>
<body class="main">
<div id="interface">
    <header id="cabecalho">
    <hgroup>
        <h1>Gerenciador</br>de Fluxo</br>de Caixa</h1>
        <h2>Controle de Caixa</h2>
    </hgroup>

    <nav id="menu">
    <ul>
        <li><a href="http://127.0.0.1:8000/login/controle-caixa/">Controle de Caixa</a></li>
        <li><a href="http://127.0.0.1:8000/login/resumo-financeiro/">Resumo Financeiro</a></li>
    </ul>
    </nav>
    </header>
    <section id="input">
        <form method="post" action=""


    </section>

    <section id="tabela">
        <ul id="id">
            <h3>Id</h3>
            {% for entradas in totEntrada %}
                <li>{{ entradas.id }}</li>
                </br>

            {% endfor %}
        </ul>
        <ul id="entrada">
            <h3>Entrada</h3>
            {% for entradas in totEntrada %}
                <li>{{ entradas.entrada }}</li>
                </br>

            {% endfor %}
        </ul>
        <ul id="saida">
            <h3>Saida</h3>
            {% for entradas in totEntrada %}
                <li>{{ entradas.saida }}</li>
                </br>

            {% endfor %}
        </ul>
        <ul id="data">
            <h3>Data</h3>
            {% for entradas in totEntrada %}
                <li>{{ entradas.data_fluxo }}</li>
                </br>

            {% endfor %}
        </ul>
    </section>
</div>
</body>
</html>